@keyframes hang1 {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

@keyframes hang2 {
    0% { transform: rotate(-2deg); }
    100% { transform: rotate(2deg); }
}

@keyframes blinking {
    0%, 90% { opacity: 1; }   
    90.01%, 100% { opacity: 0; } 
}

@keyframes light1 {
    0% { opacity: 0.2; }   
    50% { opacity: 1; }   
    100% { opacity: 0.2; } 
}

@keyframes fl {
    0% { transform: rotate(-1deg); }
    100% { transform: rotate(1deg); }
}

 @keyframes shake {
    0%, 100% { transform: translateX(0) rotate(0deg); }
    25% { transform: translateX(-3px) rotate(-1deg); }
    75% { transform: translateX(3px) rotate(1deg); }
}

@keyframes inst {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(-4deg); }
    75% { transform: rotate(4deg); }
}

@keyframes rotation2 {
    0% { rotate: 150deg; }
    50% { rotate: 210deg; }
    100% { rotate: 150deg; }
}

@keyframes rotation {
    0% { rotate: 90deg; }
    50% { rotate: 130deg; }
    100% { rotate: 90deg; }
}

@keyframes banka1 {
    0%, 100% { transform: translateX(0) rotate(0deg); }
    25% { transform: translateX(-3px) rotate(-1deg); }
    75% { transform: translateX(3px) rotate(1deg); }
}


@keyframes pulse {
    0% {transform: scale(1);
    }
    50% {transform: scale(1.12);
    }
    100% {ransform: scale(1);
    }
}